<!DOCTYPE html>
<html ng-app="gestionCandidatApp">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Gestion Candidat - Coordonnée</title>
    <script src="scripts/angular.min.js"></script>
    <script src="scripts/angular-cookies.min.js"></script>
    <script src="scripts/angular-route.js"></script>
    <script src="js/script.js"></script>
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="stylesheet" type="text/css" href="Content/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/styleConnexion.css">
    <script type="text/javascript" src="scripts/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="scripts/bootstrap.min.js"></script>
    <meta charset="utf-8" />
    <script>
        function myFunction() {
            var myWindow = window.open("agenda.html", "", "width=700,height=800");
        }

        function toggleSelectMsg() {
            var lTextarea = document.getElementById("ContenuMessage");
            lTextarea.style.display = (lTable.style.display == "textarea") ? "none" : "none";
        }

        function toggleTableMod() {

            var lSelect = document.getElementById("selectMessage").value;
            if (lSelect == "? undefined:undefined ?") {
                alert("Selectionner un message !")
            } else {
                var lTable = document.getElementById("loginTableMod");
                lTable.style.display = (lTable.style.display == "table") ? "none" : "table";
            }
        }


        function toggleSelectModSupp() {
            var lTable = document.getElementById("loginTableMod");
            lTable.style.display = (lTable.style.display == "table") ? "none" : "none";
        }

    </script>
</head>
<body ng-controller="app">
    <div ng-include="'barreMenu.html'"></div>
    <br />
    <center><div class="bg-info text-white"><p class="h1">Fiche Coodonnée</p></div></center>
    <br />
    <table align="center">
        <tbody>
            <tr>
                <td><a href="coordonnee.html">Coordonnée</a></td>
                <td>|</td>
                <td><a href="entretien.html">Entretien</a></td>
            </tr>
        </tbody>
    </table>
    <br />
    <section ng-controller="rechercheAllPlugins">
        <section ng-controller="addCandidate">
            <form ng-submit="sendEntry(candidat)">
                <div class="form-style">
                    <table align="center">
                        <tbody>
                            <tr>
                                <td colspan="4" align="center"><p class="h4">{{contentResponse}}</p></td>
                            </tr>
                            <tr>
                                <td>*Nom : </td>
                                <td><input class="form-control" type="text" id="Name" name="Name" ng-model="candidat.Name" /></td>
                                <td>*Prenom : </td>
                                <td><input class="form-control" type="text" id="Firstname" name="Firstname" ng-model="candidat.Firstname" /></td>
                            </tr>
                            <tr>
                                <td>*Email : </td>
                                <td><input class="form-control" type="email" id="emailAdress" name="emailAdress" ng-model="candidat.emailAdress" /></td>
                                <td>*Sexe : </td>
                                <td>
                                    <select class="form-control" name="sexe" id="sexe" ng-model="candidat.sexe">
                                        <option value="H" selected>Homme</option>
                                        <option value="F">Femme</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>*Téléphone :</td>
                                <td><input class="form-control" type="tel" id="phone" name="phone" ng-model="candidat.phone" /></td>
                                <td>*Code postal : </td>
                                <td><input class="form-control" type="number" size="5" name="cp" ng-model="candidat.cp" /></td>
                            </tr>
                            <tr>
                                <td>*Action : </td>
                                <td>
                                    <select class="form-control" id="actions" name="action" ng-model="candidat.action">
                                        <option value="interne" selected>Interne</option>
                                        <option value="enCours">En cours</option>
                                        <option value="RN">RN</option>
                                        <option value="trop relance">Trop relancé</option>
                                        <option value="freelance">Freelance</option>
                                        <option value="etranger">Etranger</option>
                                        <option value="appellerRemind">A appeler</option>
                                        <option value="aRelancerLKD">A relancer LKD</option>
                                        <option value="aRelancerMail">A relancer MAIL</option>
                                        <option value="PAERemind">PAE</option>
                                        <option value="pi">PI</option>
                                        <option value="HcJunior">HC junior</option>
                                        <option value="HCSenior">HC senior</option>
                                        <option value="HcLangue">HC Langue</option>
                                        <option value="HCPasDev">HC pas Dev</option>
                                        <option value="HCMSFT">HC pas MSFT</option>
                                        <option value="HCGeo">HC Géo</option>
                                        <option value="HCBacMoins5">HC BAC-5</option>
                                    </select>
                                </td>
                                <td>Source : </td>
                                <td><input class="form-control" type="url" name="link" ng-model="candidat.link" /></td>
                            </tr>
                            <tr>
                                <td>Année de diplôme : </td>
                                <td><input class="form-control" type="number" size="4" name="year" ng-model="candidat.year" /></td>
                                <td>*Type e-mail : </td>
                                <td>
                                    <select class="form-control" name="sexe" ng-model="candidat.plugins" required>
                                        <option ng-repeat="todo in todos" value="{{todo.pluginName}}">{{todo.pluginName}}</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>Note : </td>
                            </tr>
                            <tr>
                                <td colspan="4"><textarea class="form-control" name="note" ng-model="candidat.note" cols="100" rows="4"></textarea></td>
                            </tr>
                            <tr>
                                <td>Compte Rendu (CR) : </td>
                            </tr>
                            <tr>
                                <td colspan="4"><textarea class="form-control" name="crCall" ng-model="candidat.crCall" cols="100" rows="4"></textarea></td>
                            </tr>
                            <!--<tr>
                                <td colspan="4" align="left"><input type="file" value="CV" name="cv" ng-model="candidat.email" /></td>
                            </tr>-->
                            <tr>
                                <td colspan="4" align="center"><a href="" onclick="myFunction()">Visualiser votre agenda</a></td>
                            </tr>
                            <tr>
                                <td colspan="4" align="right"><input type="submit" name="enregistrer" class="btn btn-success" value="Enregistrer" /></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </form>
        </section>
    </section>
    <br />
    <br />
    <center><p class="h1">Modifier un template message</p></center>
    <section ng-controller="rechercheAllMessage">
        <form ng-submit="sendMessage(message)">
            <div class="form-group">
                <div style="width: 50%; margin: auto;" class="icon-addon addon-lg">
                    <select ng-model="selectedMsg" id="selectMessage" class="form-control input-lg" onclick="toggleSelectModSupp()" required>
                        <option ng-repeat="todo in todos" value="{{todo.titre_message}}">{{todo.titre_message}}</option>
                    </select>
                    <i class="icon icon-search"></i>
                    <br />
                    <center>
                        <input type="submit" class="btn btn-lg" value="Afficher/Cacher" onclick="toggleTableMod()" />
                    </center>
                </div>
            </div>
        </form>
        <br />
        <section ng-controller="updateMessage">
            <form ng-submit="sendEntry(updateMessage)">
                <div class="form-style">
                    <table align="center" id="loginTableMod" hidden="hidden">
                        <tbody>
                            <tr>
                                <td colspan="4" align="center" id="response"><h2 id="rep">{{contentResponseMessage}}</h2></td>
                            </tr>
                            <tr>
                                <td>Titre du template : </td>
                                <td colspan="2">
                                    <input ng-model="updateMessage.titre_message" ng-value="titreMsg" disabled />
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3">Contenu du message : </td>
                            </tr>
                            <tr>
                                <td colspan="3"><textarea name="note" cols="70" rows="7" id="ContenuMessage" ng-model="updateMessage.contenu_message" ng-value="contenuMsg"></textarea></td>
                            </tr>
                            <tr>
                            <tr>
                                <td align="center" colspan="2"><input type="submit" name="modifiermsg" class="btn btn-warning" value="Modifier" /></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </form>


        </section>
    </section>
</body>
</html>
