<!--
    Auteur : LAPERT Christian
    Version : 1.0
-->
<!DOCTYPE html>
<html ng-app="gestionCandidatApp">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Gestion Candidat - Entretien</title>
    <script src="scripts/angular.min.js"></script>
    <script src="scripts/angular-cookies.min.js"></script>
    <script src="scripts/angular-route.js"></script>
    <script src="js/script.js"></script>
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="stylesheet" type="text/css" href="Content/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/styleConnexion.css">
    <script type="text/javascript" src="scripts/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="scripts/bootstrap.min.js"></script>
    <meta charset="utf-8" />
    <script>
        function divOnloadHidden() {
            document.getElementById("erreurChamp").style.visibility = 'hidden';
        }

        function verifChamp() {

            var selectCandidat = document.getElementById("selectCandidat");
            var note = document.getElementById("note");
            
            var i = 0;
            if (selectCandidat.value == "? undefined:undefined ?") {
                selectCandidat.style.borderColor = "red";
                i = 1;
            } else {
                selectCandidat.style.borderColor = "";
            }
            if (note.value == "") {
                note.style.borderColor = "red";
                i = 1;
            } else {
                note.style.borderColor = "";
            }
            

            if (!Boolean(i)) {
                document.getElementById("erreurChamp").style.display = 'none';
            } else {
                document.getElementById("erreurChamp").style.display = 'block';
            }
        }

    </script>
</head>
<body ng-controller="rechercheAllCandidat">
    <div ng-include="'barreMenu.html'"></div>
    <br />
    <center><div class="bg-info text-white"><p class="h1">Fiche Entretien</p></div></center>
    <br />
    <table align="center">
        <tbody>
            <tr>
                <td><a href="coordonnee.html">Coordonnées</a></td>
                <td>|</td>
                <td><a href="entretien.html">Entretien</a></td>
                <td>|</td>
                <td><a href="supprimerCandidat.html">Supprimer Candidat</a></td>
            </tr>
        </tbody>
    </table>
    <br />
    <div id="erreurChamp" hidden="hidden">
        <center><p class="h3"><font color="red">Veuillez remplir les champs rouges</font></p></center>
    </div>
    <center><p class="h4"><font color="red">{{erreurRechercheAll}}</font></p></center>
    <center><p class="h4"><font color="red">{{erreurEntretien}}</font></p></center>
    <br />
    <center><p class="h4"><font color="red">*</font>Sélectionner un candidat qui n'est pas relié à une fiche entretien : </p></center>
    <br />
    <div class="form-group">
        <div style="width: 50%; margin: auto;" class="icon-addon addon-lg">
            <select ng-model="selectedCar" id="selectCandidat" class="form-control input-lg" required>
                <option ng-repeat="todo in todos" value="{{todo.emailAdress}}">{{todo.name}} {{todo.firstname}} {{todo.phone}} {{todo.emailAdress}}</option>
            </select>
            <i class="icon icon-search"></i>
        </div>
    </div>
    <section ng-controller="addEntretien">
        <form ng-submit="sendEntry(entretien)">
            <div class="form-style">
                <table align="center">
                    <tbody>
                        <tr>
                            <td colspan="4" align="center"><p class="h4"><font color="red">{{contentResponse}}</font></p></td>
                        </tr>
                        <tr>
                            <td colspan="4" align="center"><p class="h4"><font color="green">{{contentResponseGreen}}</font></p></td>
                        </tr>
                        <tr>
                            <td>Lien du test technique : </td>
                            <td><input class="form-control" type="url" value="http://" name="link" ng-model="entretien.link" /></td>
                            <td><font color="red">*</font>Note test technique : </td>
                            <td><input class="form-control" string-to-number type="number" size="2" min="0" max="20" maxlength="2"  id="note" name="note" ng-model="entretien.note" onkeydown="if(event.keyCode==32) return false;" required/></td>
                        </tr>
                        <tr>
                            <td>XP note :</td>
                            <td><input class="form-control" type="text" name="xpNote" ng-model="entretien.xpNote" /></td>
                            <td>NS note : </td>
                            <td><input class="form-control" type="text" name="nsNote" ng-model="entretien.nsNote" /></td>
                        </tr>
                        <tr>
                            <td>Job idéal : </td>
                        </tr>
                        <tr>
                            <td colspan="4"><textarea class="form-control" name="jobIdealNote" cols="100" rows="4" ng-model="entretien.jobIdealNote" ></textarea></td>
                        </tr>
                        <tr>
                            <td>Piste : </td>
                        </tr>
                        <tr>
                            <td colspan="4"><textarea class="form-control" name="pisteNote" cols="100" rows="4" ng-model="entretien.pisteNote" ></textarea></td>
                        </tr>
                        <tr>
                        <tr>
                            <td>PK à l'écoute : </td>
                        </tr>
                        <tr>
                            <td colspan="4"><textarea class="form-control" name="pieCouteNote" cols="100" rows="4" ng-model="entretien.pieCouteNote" ></textarea></td>
                        </tr>
                        <tr>
                            <td>Location : </td>
                        </tr>
                        <tr>
                            <td colspan="4"><textarea class="form-control" name="locationNote" cols="100" rows="4" ng-model="entretien.locationNote"></textarea></td>
                        </tr>
                        <tr>
                            <td>Anglais : </td>
                        </tr>
                        <tr>
                            <td colspan="4"><textarea class="form-control" name="EnglishNote" cols="100" rows="4" ng-model="entretien.EnglishNote" ></textarea></td>
                        </tr>
                        <tr>
                            <td>Nationalité : </td>
                        </tr>
                        <tr>
                            <td colspan="4"><textarea class="form-control" name="nationalityNote" cols="100" rows="4" ng-model="entretien.nationalityNote" ></textarea></td>
                        </tr>
                        <tr>
                            <td>Compétences : </td>
                        </tr>
                        <tr>
                            <td colspan="4"><textarea class="form-control" name="competences" cols="100" rows="4" ng-model="entretien.competences" ></textarea></td>
                        </tr>
                        <tr>
                            <td colspan="2" align="left"><input type="reset" name="enregistrer" class="btn btn-danger" value="Reset" /></td>
                            <td colspan="2" align="right"><input type="submit" name="enregistrer" class="btn btn-success" value="Enregistrer" onclick="verifChamp()" /></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </form>
    </section>
    <br />
    <footer>
        <div>
            <center><div class="bg-info text-white"><p class="h6">GestionCandidat C17 Engineering 2017</p></div></center>
        </div>
    </footer>
</body>
</html>
