<!DOCTYPE html>
<html ng-app="gestionCandidatApp">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Gestion Candidat - Authentification</title>
    <script src="scripts/angular.min.js"></script>
    <script src="scripts/angular-cookies.min.js"></script>
    <script src="scripts/angular-route.js"></script>
    <script src="js/script.js"></script>
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="stylesheet" href="css/styleAuth.css">
    <meta charset="utf-8" />
</head>
<body ng-controller="app">
    <section ng-controller="verifAuth">
        <br />
        <div class="logo"></div>
        <div class="login-block">
            <h1>Authentification</h1>
            <form ng-submit="sendEntry(utilisateur)">
                <table align="center">
                    <tr>
                        <td>Email : </td>
                        <td><input type="email" name="email" ng-model="utilisateur.email" placeholder="Username" id="username" required /></td>
                    </tr>
                    <tr>
                        <td>Mot de passe : </td>
                        <td><input type="password" name="mdp" ng-model="utilisateur.password" placeholder="Password" id="password" required /></td>
                    </tr>
                    <tr>
                        <td colspan="2" align="center"><font color="red">{{errtxt}}</font></td>
                    </tr>
                </table>
                <br />
                <button>CONNEXION</button>
            </form>
        </div>
    </section>
</body>
</html>
