<!DOCTYPE html>
<html ng-app="gestionCandidatApp">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Gestion Candidat - Message</title>
    <script src="scripts/angular.min.js"></script>
    <script src="scripts/angular-cookies.min.js"></script>
    <script src="scripts/angular-route.js"></script>
    <script src="js/script.js"></script>
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="stylesheet" href="css/style.css">
    <meta charset="utf-8" />
    <script>
        function colorResponse() {

            setTimeout(function () {
                if (document.getElementById("rep").innerHTML != "Le message a ete ajoute à votre systeme") {
                    document.getElementById("rep").style.color = "#DC0B0B";
                } else {
                    document.getElementById("rep").style.color = "#2CAC3D";
                }
            }, 150);
        }
    </script>
</head>
<body ng-controller="app">
    <br />
    <h2>Message</h2>
    <br />
    <div ng-include="'barreMenu.html'"></div>
    <br />
    <table align="center">
        <tbody>
            <tr>
                <td><a href="message.html">Nouveau template</a></td>
                <td>|</td>
                <td><a href="messagemodifier.html">Modifier template</a></td>
            </tr>
        </tbody>
    </table>
    <br />
    <section ng-controller="addMessage">
        <form ng-submit="sendEntry(message)">
            <div class="form-style">
                <table align="center">
                    <tbody>
                        <tr>
                            <td colspan="5" align="center" id="response"><h2 id="rep">{{contentResponse}}</h2></td>
                        </tr>
                        <tr>
                            <td>Nom template : </td>
                            <td><input type="text" name="titre" ng-model="message.titre" required/></td>
                        </tr>
                        <tr>
                            <td>Texte du message : </td>
                        </tr>
                        <tr>
                            <td colspan="2"><textarea name="contenu" cols="70" rows="7" ng-model="message.contenu" required></textarea></td>
                        </tr>
                        <tr>
                        <tr>
                            <td colspan="2" align="center"><input type="submit" name="enrmsg" class="btnVert" value="Enregistrer" /></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </form>
    </section>
</body>
</html>
