<!DOCTYPE html>
<html ng-app="gestionCandidatApp">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Gestion Candidat - Recherche</title>
    <script src="scripts/angular.min.js"></script>
    <script src="scripts/angular-cookies.min.js"></script>
    <script src="scripts/angular-route.js"></script>
    <script src="js/script.js"></script>
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="stylesheet" type="text/css" href="Content/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/styleConnexion.css">
    <script type="text/javascript" src="scripts/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="scripts/bootstrap.min.js"></script>
    <meta charset="utf-8" />
    <script>
        function divOnloadHidden() {
            document.getElementById("erreurChampRecherche").style.visibility = 'hidden';
            document.getElementById("erreurChampCoord").style.visibility = 'hidden';
            document.getElementById("erreurChampEntr").style.visibility = 'hidden';
        }
        function verifChampEntr() {

            var note = document.getElementById("note");
            var i = 0;
            if (note.value == "") {
                note.style.borderColor = "red";
                setTimeout(function () { note.style.borderColor = "" }, 4000);
                i = 1;
            } else {
                note.style.borderColor = "";
            }


            if (!Boolean(i)) {
                document.getElementById("erreurChampEntr").style.display = 'none';
            } else {
                document.getElementById("erreurChampEntr").style.display = 'block';
                setTimeout(function () { document.getElementById("erreurChampEntr").style.display = 'none' }, 4000);
            }
        }

        function verifChampCoord() {

            var Name = document.getElementById("Name");
            var Firstname = document.getElementById("Firstname");
            var emailAdress = document.getElementById("emailAdress");
            var sexe = document.getElementById("sexe");
            var phone = document.getElementById("phone");
            var cp = document.getElementById("cp");
            var action = document.getElementById("action");
            var plugins = document.getElementById("plugins");
            var i = 0;
            if (Name.value == "") {
                Name.style.borderColor = "red";
                setTimeout(function () { Name.style.borderColor = "" }, 4000);
                i = 1;
            } else {
                Name.style.borderColor = "";
            }
            if (Firstname.value == "") {
                Firstname.style.borderColor = "red";
                setTimeout(function () { Firstname.style.borderColor = "" }, 4000);
                i = 1;
            } else {
                Firstname.style.borderColor = "";
            }
            if (emailAdress.value == "") {
                emailAdress.style.borderColor = "red";
                setTimeout(function () { emailAdress.style.borderColor = "" }, 4000);
                i = 1;
            } else {
                emailAdress.style.borderColor = "";
            }
            if (sexe.value == "? undefined:undefined ?") {
                sexe.style.borderColor = "red";
                setTimeout(function () { sexe.style.borderColor = ""; }, 4000);
                i = 1;
            } else {
                sexe.style.borderColor = "";
            }
            if (phone.value == "") {
                phone.style.borderColor = "red";
                setTimeout(function () { phone.style.borderColor = ""; }, 4000);
                i = 1;
            } else {
                phone.style.borderColor = "";
            }
            if (cp.value == "") {
                cp.style.borderColor = "red";
                setTimeout(function () { cp.style.borderColor = "" }, 4000);
                i = 1;
            } else {
                cp.style.borderColor = "";
            }

            if (actions.value == "? undefined:undefined ?") {
                actions.style.borderColor = "red";
                setTimeout(function () { actions.style.borderColor = "" }, 4000);
                i = 1;
            } else {
                actions.style.borderColor = "";
            }
            if (plugins.value == "? undefined:undefined ?") {
                plugins.style.borderColor = "red";
                setTimeout(function () { plugins.style.borderColor = "" }, 4000);
                i = 1;
            } else {
                plugins.style.borderColor = "";
            }

            if (!Boolean(i)) {
                document.getElementById("erreurChampCoord").style.display = 'none';
            } else {
                document.getElementById("erreurChampCoord").style.display = 'block';
                setTimeout(function () { document.getElementById("erreurChampCoord").style.display = 'none' }, 4000);
            }
        }
        function verifChampRecherche() {
            var recherche = document.getElementById("recherche");
            var i = 0;
            if (recherche.value == "") {
                recherche.style.borderColor = "red";
                i = 1;
            } else {
                recherche.style.borderColor = "";
            }

            if (!Boolean(i)) {
                document.getElementById("erreurChampRecherche").style.display = 'none';
            } else {
                document.getElementById("erreurChampRecherche").style.display = 'block';
            }

        }
        function toggleTableCoord() {
            
            var lSelect = document.getElementById("selectCandidat").value;
            if (lSelect == "? undefined:undefined ?" || lSelect == "" || lSelect == null) {
                alert("Selectionner un candidat !")
            } else {
                var lTable = document.getElementById("loginTableCoord");
                lTable.style.display = (lTable.style.display == "table") ? "none" : "table";
            }
        }

        function toggleTableEntr() {
            
            var lSelect = document.getElementById("selectCandidat").value;
            if (lSelect == "? undefined:undefined ?" || lSelect == "" || lSelect == null) {
                alert("Selectionner un candidat !")
            } else {
                var lTable = document.getElementById("loginTableEntr");
                lTable.style.display = (lTable.style.display == "table") ? "none" : "table";
            }
        }

        function toggleSelectCoordEntr() {
            var lTable = document.getElementById("loginTableCoord");
            var lTable2 = document.getElementById("loginTableEntr");
            lTable.style.display = (lTable.style.display == "table") ? "none" : "none";
            lTable2.style.display = (lTable.style.display == "table") ? "none" : "none";
        }

        function myFunction() {
            var myWindow = window.open("agenda.html", "", "width=800,height=800");
        }
        function colorResponse() {

            setTimeout(function () {
                if (document.getElementById("rep").innerHTML != "Aucun candidat ne possede vos criteres de recherche") {
                    document.getElementById("rep").style.color = "#DC0B0B";
                } else {
                    document.getElementById("rep").style.color = "#2CAC3D";
                }
            }, 150);
        }

        function toggleSelectMsg() {
            var lTextarea = document.getElementById("ContenuMessage");
            lTextarea.style.display = (lTable.style.display == "textarea") ? "none" : "none";
        }

        function toggleTableMod() {

            var lSelect = document.getElementById("selectMessage").value;
            if (lSelect == "? undefined:undefined ?") {
                alert("Selectionner un message !")
            } else {
                var lTable = document.getElementById("loginTableMod");
                lTable.style.display = (lTable.style.display == "table") ? "none" : "table";
            }
        }

        function toggleSelectModSupp() {
            var lTable = document.getElementById("loginTableMod");
            lTable.style.display = (lTable.style.display == "table") ? "none" : "none";
        }
        
    </script>
</head>


<body ng-controller="rechercheCandidat">
    <div ng-include="'barreMenu.html'"></div>
    <br />
    <center><div class="bg-info text-white"><p class="h1">Recherche Candidat</p></div></center>
    <br />
    <div id="erreurChampRecherche" hidden="hidden">
        <center><p class="h3"><font color="red">Veuillez remplir les champs rouges</font></p></center>
    </div>
    <center><p class="h4"><font color="red">{{erreurNormeNom}}</font></p></center>
    <center><p class="h4"><font color="red">{{erreurNormeFirstname}}</font></p></center>
    <center><p class="h4"><font color="red">{{erreurNormeAction}}</font></p></center>
    <center><p class="h4"><font color="red">{{erreurNormeSexe}}</font></p></center>
    <form id="formRecherche" ng-submit="sendCandidat(candidat)" method="get">
        <br />
        <center><h3 id="rep">{{contentResponse}}</h3></center>
        <br />
        <div class="form-group">
            <center><label><p class="h4">Rechercher un candidat par nom :</p></label></center>
    <div style="width: 50%; margin: auto;" align="center" class="input-group input-group-lg icon-addon addon-lg">
        <input type="text" class="form-control input-lg" id="recherche" name="nom" ng-model="candidat.nom" placeholder="Nom candidat.." size="90" onkeydown="if(event.keyCode==32) return false;" required />
        <i class="icon icon-search"></i>
        <span class="input-group-btn">
            <button type="submit" class="btn btn-inverse" id="btnRecherche" onclick="verifChampRecherche()">Rechercher</button>
        </span>
    </div>
</div>
        <br />
        <center><p class="h4">Candidat(s) trouvé(s) : {{resultatTrouve}}</p></center>
        <br />
        <div class="form-group">
            <center><label><p class="h4">Sélectionner un candidat trouvé :</p></label></center>
            <div style="width: 50%; margin: auto;" class="icon-addon addon-lg">
                <select class="form-control input-lg" ng-model="selectedCar" id="selectCandidat" onclick="toggleSelectCoordEntr()">
                    <option ng-repeat="todo in todos" value="{{todo.email}}">{{todo.nom}} {{todo.prenom}} {{todo.phone}} {{todo.email}} </option>
                </select>
                <i class="icon icon-search"></i>
                <br />
                <center>
                    <input type="submit" class="btn btn-lg" value="Coordonnée : Afficher/Cacher" onclick="toggleTableCoord()" />
                    <input type="submit" class="btn btn-lg" value="Entretien : Afficher/Cacher" onclick="toggleTableEntr()" />
                </center>
            </div>
        </div>
    </form>

    <br />

    <section ng-controller="updateCandidate">
        <form ng-submit="sendEntry(updateCandidate)">
            <div id="erreurChampCoord" hidden="hidden">
                <center><p class="h3"><font color="red">Veuillez remplir les champs rouges</font></p></center>
            </div>
            <table align="center" id="loginTableCoord" hidden="hidden">
                <tbody>
                    <tr>
                        <td colspan="4" align="center" ><h1>Coordonnées</h1></td>
                    </tr>
                    <tr>
                        <td colspan="4" align="center"><p class="h4"><font color="red">{{contentResponse}}</font></p></td>
                    </tr>
                    <tr>
                        <td colspan="4" align="center"><p class="h4"><font color="green">{{contentResponseGreen}}</font></p></td>
                    </tr>
                    <tr>
                        <td><font color="red">*</font>Nom : </td>
                        <td><input class="form-control" type="text" name="nomCoor" ng-value="nomCoor" id="Name" ng-model="updateCandidate.nom" onkeydown="if(event.keyCode==32) return false;" pattern="[a-zA-Z]+" required /></td>
                        <td><font color="red">*</font>Prénom : </td>
                        <td><input class="form-control" type="text" name="prenomCoor" ng-value="prenomCoor" id="Firstname" ng-model="updateCandidate.prenom" onkeydown="if(event.keyCode==32) return false;" pattern="[a-zA-Z]+" required /></td>
                    </tr>
                    <tr>
                        <td><font color="red">*</font>E-mail : </td>
                        <td><input class="form-control" type="email" name="email" ng-value="emailCoor" id="emailAdress" ng-model="updateCandidate.email" disabled /></td>
                        <td><font color="red">*</font>Sexe : </td>
                        <td>
                            <select class="form-control" name="sexe" ng-value="sexeCoor" id="sexe" ng-model="updateCandidate.sexe" onkeydown="if(event.keyCode==32) return false;" required>
                                <option value="H" selected>Homme</option>
                                <option value="F">Femme</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td><font color="red">*</font>Téléphone :</td>
                        <td><input class="form-control" type="tel" name="telephone" ng-value="phoneCoor" id="phone" ng-model="updateCandidate.telephone" pattern="^((\+\d{1,3}(-| )?\(?\d\)?(-| )?\d{1,5})|(\(?\d{2,6}\)?))(-| )?(\d{3,4})(-| )?(\d{4})(( x| ext)\d{1,5}){0,1}$" required /></td>
                        <td><font color="red">*</font>Code postal : </td>
                        <td><input class="form-control" type="number" id="cp" size="5" name="cp" ng-value="cpCoor" ng-model="updateCandidate.cp" onkeydown="if(event.keyCode==32) return false;" /></td>
                    </tr>
                    <tr>
                        <td><font color="red">*</font>Action : </td>
                        <td>
                            <select class="form-control" name="action" ng-value="actionsCoor" id="actions" ng-model="updateCandidate.action" required>
                                    <option value="interne" selected>Interne</option>
                                    <option value="enCours">En cours</option>
                                    <option value="RN">RN</option>
                                    <option value="trop relance">Trop relancé</option>
                                    <option value="freelance">Freelance</option>
                                    <option value="etranger">Etranger</option>
                                    <option value="appellerRemind">A appeler</option>
                                    <option value="aRelancerLKD">A relancer LKD</option>
                                    <option value="aRelancerMail">A relancer MAIL</option>
                                    <option value="PAERemind">PAE</option>
                                    <option value="HcJunior">HC junior</option>
                                    <option value="HCSenior">HC senior</option>
                                    <option value="HcLangue">HC Langue</option>
                                    <option value="HCPasDev">HC pas Dev</option>
                                    <option value="HCMSFT">HC pas MSFT</option>
                                    <option value="HCGeo">HC Géo</option>
                                    <option value="HCBacMoins5">HC BAC-5</option>
                            </select>
                        </td>
                        <td><font color="red">*</font>Type e-mail : </td>
                        <td>
                            <select class="form-control" name="sexe" id="plugins" required>
                                <option value="email" selected>Email</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Année de diplôme : </td>
                        <td><input class="form-control" type="text" size="4" name="anneediplome" ng-value="anneeCoor" ng-model="updateCandidate.anneediplome" /></td>
                        <td>Source : </td>
                        <td><input class="form-control" type="url" name="url" ng-value="lienCoor" ng-model="updateCandidate.url" /></td>
                    </tr>
                    <tr>
                        <td>Note : </td>
                    </tr>
                    <tr>
                        <td colspan="4"><textarea class="form-control" name="note" cols="100" rows="4" ng-value="NSCoor" ng-model="updateCandidate.note"></textarea></td>
                    </tr>
                    <tr>
                        <td>Compte Rendu (CR) : </td>
                    </tr>
                    <tr>
                        <td colspan="4"><textarea class="form-control" name="cr" cols="100" rows="4" ng-value="crCallCoor" ng-model="updateCandidate.cr"></textarea></td>
                    </tr>
                    <tr>
                        <td colspan="4" align="center"><a href="" onclick="myFunction()">Visualiser votre agenda</a></td>
                    </tr>
                    <tr>
                        <td>
                            &nbsp;
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4" align="right"><input type="submit" name="enregistrer" class="btn btn-warning" value="Modifier" onclick="verifChampCoord()" /></td>
                    </tr>
                </tbody>
            </table>
        </form>
    </section>
    <br />

    <br />
    <section ng-controller="updateEntretien">
        <form ng-submit="sendEntry(updateEntretien)" onsubmit="return isValidForm()">
            <div id="erreurChampEntr" hidden="hidden">
                <center><p class="h3"><font color="red">Veuillez remplir les champs rouges</font></p></center>
            </div>
            <table align="center" id="loginTableEntr" hidden="hidden">
                <tbody>
                    <tr>
                        <td colspan="4" align="center" id="response"><h1>Entretien</h1></td>
                    </tr>
                    <tr>
                        <td colspan="4" align="center" id="response"><h3 id="rep">{{contentResponseEntretien}}</h3></td>
                    </tr>
                    <tr>
                        <td>Lien Test :</td>
                        <td><input class="form-control" type="url" value="http://" name="link" ng-value="linkCoor" ng-model="updateEntretien.link" /></td>
                        <td><font color="red">*</font>Note :</td>
                        <td><input class="form-control" type="number" size="2" name="note" min="0" max="20" id="note" ng-value="noteCoor" ng-model="updateEntretien.note" required/></td>
                    </tr>
                    <tr>
                        <td>XP note :</td>
                        <td><input class="form-control" type="text" name="xpnote" ng-value="xpNoteCoor" ng-model="updateEntretien.xpNote"/></td>
                        <td>NS note :</td>
                        <td><input class="form-control" type="text" name="ns" ng-value="nsNoteCoor" ng-model="updateEntretien.nsNote" /></td>
                    </tr>
                    <tr>
                        <td>Job idéal : </td>
                    </tr>
                    <tr>
                        <td colspan="4"><textarea class="form-control" name="jobideal" cols="100" rows="4" ng-value="jobIdealNoteCoor" ng-model="updateEntretien.jobIdealNote"></textarea></td>
                    </tr>
                    <tr>
                        <td>Piste : </td>
                    </tr>
                    <tr>
                        <td colspan="4"><textarea class="form-control" name="piste" cols="100" rows="4" ng-value="pisteNoteCoor" ng-model="updateEntretien.pisteNote"></textarea></td>
                    </tr>
                    <tr>
                        <td>PK à l'écoute : </td>
                    </tr>
                    <tr>
                        <td colspan="4"><textarea class="form-control" name="pkecoute" cols="100" rows="4" ng-value="pieCouteNoteCoor" ng-model="updateEntretien.pieCouteNoter"></textarea></td>
                    </tr>
                    <tr>
                        <td>Localisation : </td>
                    </tr>
                    <tr>
                        <td colspan="4"><textarea class="form-control" name="locationNote" cols="100" rows="4" ng-value="locationNoteCoor" ng-model="updateEntretien.locationNote"></textarea></td>
                    </tr>
                    <tr>
                        <td>Anglais : </td>
                    </tr>
                    <tr>
                        <td colspan="4"><textarea class="form-control" name="anglais" cols="100" rows="4" ng-value="EnglishNoteCoor" ng-model="updateEntretien.EnglishNote"></textarea></td>
                    </tr>
                    <tr>
                        <td>Nationalité : </td>
                    </tr>
                    <tr>
                        <td colspan="4"><textarea class="form-control" name="nationalite" cols="100" rows="4" ng-value="nationalityNoteCoor" ng-model="updateEntretien.nationalityNote"></textarea></td>
                    </tr>
                    <tr>
                        <td>Compétences : </td>
                    </tr>
                    <tr>
                        <td colspan="4"><textarea class="form-control" name="competence" cols="100" rows="4" ng-value="competencesCoor" ng-model="updateEntretien.competences"></textarea></td>
                    </tr>
                    <tr>
                        <td>
                            &nbsp;
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4" align="right"><input type="submit" name="enregistrer" class="btn btn-warning" value="Modifier" onclick="verifChampEntr()" /></td>
                    </tr>
                </tbody>
            </table>
        </form>
    </section>

    <br />
    <center><p class="h1">Modifier le contenu d'un e-mail</p></center>
    <section ng-controller="rechercheAllMessage">
        <form ng-submit="sendMessage(message)">
            <div class="form-group">
                <div style="width: 50%; margin: auto;" class="icon-addon addon-lg">
                    <select ng-model="selectedMsg" id="selectMessage" class="form-control input-lg" onclick="toggleSelectModSupp()" required>
                        <option ng-repeat="todo in todos" value="{{todo.titre_message}}">{{todo.titre_message}}</option>
                    </select>
                    <i class="icon icon-search"></i>
                    <br />
                    <center>
                        <input type="submit" class="btn btn-lg" value="Afficher/Cacher" onclick="toggleTableMod()" />
                    </center>
                </div>
            </div>
        </form>
        <br />
        <section ng-controller="updateMessage">
            <form ng-submit="sendEntry(updateMessage)">
                <div class="form-style">
                    <table align="center" id="loginTableMod" hidden="hidden">
                        <tbody>
                            <tr>
                                <td colspan="4" align="center" id="response"><h3 id="rep">{{contentResponseMessage}}</h3></td>
                            </tr>
                            <tr>
                                <td>Titre du template e-mail : </td>
                                <td colspan="2">
                                    <input class="form-control" ng-model="updateMessage.titre_message" ng-value="titreMsg" disabled />
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3">Contenu du template e-mail : </td>
                            </tr>
                            <tr>
                                <td colspan="3"><textarea class="form-control" name="note" cols="70" rows="7" id="ContenuMessage" ng-model="updateMessage.contenu_message" ng-value="contenuMsg"></textarea></td>
                            </tr>
                            <tr>
                            <tr>
                                <td>
                                    &nbsp;
                                </td>
                            </tr>
                            <tr>
                                <td align="center" colspan="2"><input type="submit" name="modifiermsg" class="btn btn-warning" value="Modifier"/></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </form>
        </section>
    </section>
    <br />
    <footer>
        <div>
            <center><div class="bg-info text-white"><p class="h6">GestionCandidat C17 Engineering 2017</p></div></center>
        </div>
    </footer>
</body>
</html>
